<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="category"
            label="Категория туров"
            description="Выберите категорию существующую в crm intrum"
    >
        <field
                name="select_category"
                type="radio"
                label="Категория"
                default="0"
        >
            <option value="0">Категория1</option>
            <option value="1">Категория2</option>
        </field>
    </fieldset>
</config>